* {
  overflow-x: hidden;
  margin: 0;
}
@font-face {
  font-family: "Roca";
  src: local(""), local("Roca-One-Italic"),
    url("RocaOne-It.woff2") format("woff2"),
    url("RocaOne-It.woff") format("woff"),
    url("./Fonts/RocaOne-It.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Roca";
  src: local(""), local("Roca-One-Regular"),
    url("RocaOne-Rg.woff2") format("woff2"),
    url("RocaOne-Rg.woff") format("woff"),
    url("./Fonts/RocaOne-Rg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: transparent;
  padding: 0px 20px 20px 20px;
  color: #fff;
  display: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #755c78;
  margin: 5px 0;
  transition: background-color 0.3s ease;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.sellers {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-top: 50px;
}

.menu li {
  padding: 0 15px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  header {
    display: block;
  }
  .menu-icon {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    background-color: #755c78;
    padding: 50px 0px 0px 30px;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin-left: 60%;
    height: 100%;
    border-left: 2px solid rgb(244, 242, 242);
    border-bottom: 2px solid rgb(244, 242, 242);
    z-index: 2;
  }
  .sellers {
    display: none;
  }

  .menu li {
    width: 60%;
    padding: 10px 0;
    border-bottom: 1px solid rgb(244, 240, 240);
  }

  .menu.open {
    display: flex;
  }
}

.loginpagecontainer {
  background-color: #f4effa;
}

.loginpage-top-container {
  background-color: #755c78;
  height: fit-content;
}

.loginpage-top-container h2 {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 10px 0px 10px 0px;
  font-family: "Manrope";
  font-weight: 400;
}

.header-logo-image {
  height: 50px;
}
.header-logo-container {
  flex-basis: 20%;
}
.login-header-container {
  display: flex;
  flex-direction: row;
  margin: 20px 50px 0px 50px;
  justify-content: space-between;
}

.header-best-sellers ul {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-basis: 60%;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
}

.header-navbar ul {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.living-the-gram {
  font-family: "Roca";
  font-weight: 400;
  font-style: italic;
  font-size: 35px;
  margin-bottom: 30px;
}

.seventh-container {
  padding: 0px 0px 0px 50px;
  margin-top: 100px;
}

.seventh-container h2 {
  font-size: 35px;
}
.bottom-container-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-container-logo {
  flex-basis: 30%;
  margin: 30px 40px 0px 70px;
}
.purple-potato {
  font-size: 17px;
  font-family: "Manrope";
}
.purple2023 p {
  font-family: "Manrope";
}
.bottom-container-logo span {
  font-weight: bold;
  padding-right: 20px;
}
.bottom-container-social {
  padding: 50px 40px 0px 120px;
  flex-basis: 40%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-size: 20px;
  font-family: "Manrope";
}
.mail-number {
  margin-top: 10px;
  font-family: "Manrope";
}
.bottom-container-social ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 0;
  line-height: 25px;
  font-size: 16px;
}
.bottom-container-contact {
  flex-basis: 30%;
  padding: 40px 40px 0px 80px;
  position: relative;
}
.bottom-container-contact h2 {
  font-size: 25px;
  padding-right: 70px;
  font-family: "Roca";
  font-weight: 400;
  line-height: normal;
  font-style: italic;
}
.bottom-container-contact input {
  border-radius: 10px;
  height: 50px;
  width: 91%;
  background: transparent;
}

.bottom-container-contact input::placeholder {
  padding-left: 10px;
  font-size: 15px;
  font-family: "Manrope";
  font-weight: 400;
}

.subscribe {
  position: absolute;
  left: 62%;
  top: 30%;
  font-family: "Manrope";
}

.bottom-container-third {
  margin: 50px 0px 7px 0px;
  padding: 0px 70px 0px 70px;
  border-top: 1px solid #755c78;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.purple2023 {
  font-size: 13px;
  padding-top: 15px;
}

.payment-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.payment-icons img {
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  height: 27px;
}

.bottom-cont-pages {
  display: flex;
  flex-direction: row;
  gap: 25px;
  text-align: center;
  font-size: 15px;
  padding-top: 15px;
  font-family: "Manrope";
}

.email-subscribe {
  position: relative;
}

.email-subscribe input {
  text-indent: 20px;
}

.email-subscribe input::placeholder {
  padding-left: 0px;
}
.group-image-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.group-image-firstcont {
  flex: 2;
}

.group-image-firstcont img {
  width: 100%;
  height: 500px;
}
.bottom-group-images {
  display: flex;
  flex: 2;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  width: 90%;
}

.bottom-group-images img {
  width: 30%;
}
.bottom-container-first {
  background-color: #755c78;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 30px;
}

.bottom-container-first-content {
  display: flex;
  margin: 0 auto;
}
.small-icons {
  height: 30px;
  padding-top: 22px;
  padding-right: 30px;
}
.exclusive-text {
  margin: 15px 0px 05px 0px;
  font-size: 22px;
  font-family: "Manrope";
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
}
.small-icon-text {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
@media (max-width: 1200px) {
  .small-icons {
    height: 30px;
    padding-top: 25px;
    padding-right: 30px;
  }
  .exclusive-text {
    margin: 20px 0px 05px 0px;
    font-size: 14px;
  }
  .small-icon-text {
    font-size: 12px;
    margin: 0;
    padding: 0;
  }
  .bottom-container-first-content {
    display: flex;
    margin: 0 auto;
  }
  .bottom-container-first {
    background-color: #755c78;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
  }
  .bottom-group-images {
    display: flex;
    flex: 2;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
  }

  .bottom-group-images img {
    width: 30%;
  }
  .group-image-firstcont img {
    width: 100%;
    height: 450px;
  }
  .header-logo-image {
    height: 40px;
  }
  .login-header-container {
    display: flex;
    flex-direction: row;
    margin: 20px 50px 0px 50px;
    justify-content: space-around;
  }

  .header-best-sellers ul {
    display: flex;
    flex-direction: row;
    gap: 19px;
    font-size: 13px;
  }

  .header-navbar ul {
    display: flex;
    flex-direction: row;
    gap: 19px;
    font-size: 13px;
  }
  .bottom-container-second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom-container-logo {
    flex-basis: 30%;
    margin: 0px 0px 0px 25px;
  }

  .bottom-container-logo span {
    font-weight: bold;
    padding-right: 20px;
  }
  .bottom-container-social {
    padding: 50px 40px 0px 60px;
    gap: 18px;
    font-size: 17px;
    font-family: "Manrope";
  }

  .mail-number {
    display: flex;
    flex-direction: column;
  }

  .bottom-container-social ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
    line-height: 25px;
    font-family: "Manrope";
  }
  .bottom-container-contact {
    flex-basis: 30%;
    padding: 40px 20px 0px 20px;
  }
  .bottom-container-contact h2 {
    font-size: 24px;
    padding-right: 20px;
  }
  .subscribe {
    font-size: 14px;
    top: 50%;
    left: 0%;
  }

  .bottom-container-third {
    margin: 50px 0px 7px 0px;
    padding: 0px 40px 0px 30px;
    border-top: 1px solid #755c78;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .purple2023 {
    font-size: 11px;
    padding-top: 15px;
  }

  .payment-icons {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .payment-icons img {
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    height: 27px;
  }

  .bottom-cont-pages {
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-align: center;
    font-size: 13px;
    padding-top: 15px;
  }
}

@media (max-width: 768px) {
  .header-navbar {
    display: none;
  }
  .bottom-container-second {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 30px 0px 30px;
  }

  .bottom-container-logo {
    flex-basis: 30%;
    margin: 0px 0px 0px 0px;
  }

  .bottom-container-logo span {
    font-weight: bold;
    padding-right: 20px;
  }

  .mail-number {
    display: flex;
    flex-direction: column;
  }

  .bottom-container-contact {
    flex-basis: 30%;
    padding: 40px 20px 0px 0px;
    position: relative;
    width: 90%;
  }
  .subscribe {
    left: 45% !important;
    font-size: 15px !important;
  }
  .bottom-container-contact h2 {
    font-size: 24px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .purple-potato {
    margin: 0px 200px 0px 00px;
    padding: 0;
  }
  .bottom-container-contact input {
    width: 60%;
  }
  .purple2023 {
    font-size: 11px;
    padding-top: 15px;
  }

  .payment-icons {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .payment-icons img {
    justify-content: center;
    margin: 0 auto;
    margin-top: 10px;
    height: 20px;
  }

  .bottom-cont-pages {
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-align: center;
    font-size: 13px;
    padding-top: 15px;
  }
  .bottom-container-third {
    margin: 50px 0px 7px 0px;
    padding: 0px 30px 0px 30px;
    border-top: 1px solid #755c78;
    display: flex;
    gap: 20px;
    flex-direction: row;
  }
  .bottom-container-social {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    margin: 0;
    padding: 30px 0px 0px 0px;
    font-size: 20px;
    width: 100%;
  }
  .bottom-container-social ul {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: space-between;
    margin-right: 120px;
    margin-top: 15px;
  }
}

@media (max-width: 1346px) {
  .subscribe {
    position: absolute;
    left: 65%;
    top: 35%;
  }
}
@media (min-width: 1345px) {
  .subscribe {
    position: absolute;
    left: 65%;
    top: 35%;
  }
}
@media (max-width: 900px) {
  .bottom-container-first {
    background-color: #755c78;
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    padding: 0px 20px 0px 0px;
    margin-right: 20px;
    gap: 10px;
  }
  .bottom-group-images {
    display: flex;
    flex: 2;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
  }

  .bottom-group-images img {
    width: 45%;
  }
  .group-image-firstcont img {
    width: 100%;
    height: 600px;
  }
  .loginpage-top-container h2 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 10px 0px 10px 0px;
  }
  .header-logo-image {
    height: 35px;
  }
  .login-header-container {
    display: flex;
    flex-direction: row;
    margin: 20px 10px 0px 10px;
    gap: 20px;
  }
  .login-form-container {
    padding-top: 80px;
  }

  .header-best-sellers ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 11px;
    margin: 0;
    padding: 10px 0px 0px 0px;
  }

  .header-navbar ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 11px;
    margin: 0;
    padding: 10px 0px 0px 0px;
  }
  .purple2023 p {
    font-size: 9px;
    text-align: center !important;
  }
  .payment-icons {
    gap: 10px;
  }
  .payment-icons img {
    width: 15% !important;
  }
  .bottom-cont-pages {
    font-size: 12px;
    gap: 5px;
    margin-right: 0px;
  }
  .subscribe {
    font-size: 12px;
  }
  .small-icons {
    height: 20px;
    padding-top: 25px;
    padding-right: 10px;
  }
  .exclusive-text {
    margin: 20px 0px 05px 0px;
    font-size: 12px;
  }
  .small-icon-text {
    font-size: 10px;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 650px) {
  /* .header-navbar ul {
    display: none;
    flex-direction: row;
    gap: 10px;
    font-size: 11px;
    margin: 0;
    padding: 10px 0px 0px 0px;
  } */
}

@media (max-width: 600px) {
 
  .header-logo-container {
    flex-basis: 40%;
  }
  .bottom-group-images {
    display: flex;
    flex: 2;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
  }

  .menu-icon {
    padding-top: 5px;
  }
  .bottom-group-images img {
    width: 30%;
  }
  .group-image-firstcont img {
    width: 95%;
    height: 450px;
  }
  .group-image-container {
    display: flex;
    flex-direction: column;
  }
  .loginpage-top-container h2 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 10px 10px 10px 10px;
  }
  .header-logo-image {
    height: 35px;
  }
  .login-header-container {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 0px 10px;
    gap: 20px;
  }
  .login-form-container {
    padding-top: 60px;
    margin-bottom: 80px;
  }

  .header-best-sellers ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 11px;
    margin: 0;
    padding: 10px 0px 0px 0px;
  }

  .header-navbar ul {
    display: none;
    flex-direction: row;
    gap: 10px;
    font-size: 11px;
    margin: 0;
    padding: 10px 0px 0px 0px;
  }

  /* .subscribe {
    top: 37%;
    left: 60%;
  } */
  /* .bottom-container-contact input {
    width: 65%;
    height: 40px;
  } */
  .bottom-container-contact h2 {
    font-size: 20px;
  }
  .purple-potato {
    margin: 0px 0px 0px 00px;
  }
  .email-password {
    gap: 30px;
  }
}
@media (max-width: 468px) {
  .menu {
    display: none;
    flex-direction: column;
    background-color: #755c78;
    padding: 50px 0px 0px 30px;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin-left: 30%;
    height: 100%;
  }
  .sellers {
    display: block;
  }
  .seventh-container {
    padding: 0px 0px 0px 20px;
  }
  .seventh-container h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .bottom-container-second {
    padding: 20px 30px 0px 20px;
  }
  .bottom-container-first {
    background-color: #755c78;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: flex-start;
    align-items: start;
    padding: 0px 20px 20px 0px;
    /* margin-right: 20px; */
    gap: 10px;
  }
  .bottom-container-first-content {
    padding: 0;
    margin: 0px 0px 0px 30px;
  }
  .exclusive-text {
    font-size: 15px;
  }
  .small-icon-text {
    font-size: 13px;
  }
  .small-icons {
    height: 25px;
  }
  .purple2023 p {
    font-size: 15px;
    padding-top: 15px;
    margin-bottom: 5px;
  }

  .payment-icons {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .payment-icons img {
    justify-content: center;
    margin: 0 auto;
    margin-top: 0px;
    height: 25px;
  }

  .bottom-cont-pages {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    font-size: 12px;
    padding-top: 8px;
    align-items: start;
    justify-content: space-around;
    width: 100%;
    /* margin: 0 auto; */
    gap: 7px;
  }
  .bottom-container-third {
    margin: 50px 0px 7px 0px;
    padding: 0px 30px 0px 20px;
    border-top: 1px solid #755c78;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: start;
  }
  .bottom-container-social {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    margin: 0;
    padding: 30px 0px 0px 0px;
    font-size: 20px;
    width: 100%;
  }
  .bottom-container-social ul {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 0px;
  }
  .subscribe {
    left: 72% !important;
    font-size: 12px !important;
  }
  .bottom-container-contact input {
    width: 95%;
  }
  .header-best-sellers {
    display: none;
  }
}
@media (max-width: 400px) {
  .bottom-group-images {
    display: flex;
    flex: 2;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
  }

  .bottom-group-images img {
    width: 45%;
  }
  .group-image-firstcont img {
    width: 95%;
    height: 400px;
  }
  .group-image-container {
    display: flex;
    flex-direction: column;
  }
  /* .bottom-container-social {
    padding: 50px 0px 0px 5px;
    gap: 40px;
  } */
  .bottom-group-images {
    display: flex;
    flex: 2;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
  }

  .bottom-group-images img {
    width: 45%;
  }
  /* .bottom-container-social {
    padding: 50px 20px 0px 40px;
  } */
  .purple-potato {
    margin: 0px 0px 15px 00px;
    width: 100%;
    margin-right: 0;
    padding-right: 0;
  }
  .bottom-container-contact h2 {
    font-size: 17px;
  }
  .header-best-sellers {
    margin-left: 10px;
  }
  .header-logo-image {
    width: 100px;
  }
}
