* {
  overflow-x: hidden;
  margin: 0;
}

.loginpagecontainer {
  background-color: #f4effa;
}

.loginpage-top-container {
  background-color: #755c78;
  height: fit-content;
}

.loginpage-top-container h2 {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px 0px 10px 0px;
}

.header-logo-image {
  height: 50px;
}

.login-header-container {
  display: flex;
  flex-direction: row;
  margin: 20px 50px 0px 50px;
  justify-content: space-between;
}

.header-best-sellers ul {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.header-navbar ul {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.login-form-container {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 150px;
}

.login-form-container h1 {
  font-size: 45px;
  font-family: "Roca";
  font-weight: 400;
  color: #755c78;
}

.login-form-container p {
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: center;
}

.email-password {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}

.email {
  width: 30%;
  margin: 0 auto;
  height: 60px;
  border: 2px solid #755c78;
  padding-left: 0px;
  font-size: 20px;
  text-indent: 30px;
  background: transparent;
}

.email::placeholder {
  font-size: 17px;
}

.email:focus {
  outline: none;
}

.password {
  width: 30%;
  margin: 0 auto;
  height: 60px;
  border: 2px solid #755c78;
  text-indent: 30px;
  font-size: 17px;
  background: transparent;
}

.password::placeholder {
  font-size: 17px;
}

.password:focus {
  outline: none;
}

.form-button {
  width: 30.5%;
  margin: 0 auto;
  background-color: #755c78;
  height: 60px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-top: 15px;
  border: 1px solid #755c78;
}

@media (max-width: 1200px) {
  .header-logo-image {
    height: 40px;
  }

  .login-header-container {
    display: flex;
    flex-direction: row;
    margin: 20px 50px 0px 50px;
    justify-content: space-around;
  }

  .header-best-sellers ul {
    display: flex;
    flex-direction: row;
    gap: 19px;
    font-size: 13px;
  }

  .header-navbar ul {
    display: flex;
    flex-direction: row;
    gap: 19px;
    font-size: 13px;
  }

  .login-form-container h1 {
    font-size: 35px;
  }

  .login-form-container p {
    font-size: 18px;
  }

  .email {
    width: 45%;
    margin: 0 auto;
    height: 50px;
    border: 2px solid #755c78;
  }

  .email::placeholder {
    font-size: 20px;
  }

  .password {
    width: 45%;
    margin: 0 auto;
    height: 50px;
    border: 2px solid #755c78;
  }

  .password::placeholder {
    font-size: 20px;
  }

  .form-button {
    width: 45%;
    margin: 0 auto;
    background-color: #755c78;
    height: 50px;
    color: white;
    font-size: 20px;
    margin-top: 15px;
  }
}

@media (max-width: 900px) {
  .loginpage-top-container h2 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 10px 0px 10px 0px;
  }

  .header-logo-image {
    height: 35px;
  }

  .login-header-container {
    display: flex;
    flex-direction: row;
    margin: 20px 10px 0px 10px;
    gap: 20px;
  }

  .login-form-container {
    padding-top: 80px;
  }

  .header-best-sellers ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 11px;
    margin: 0;
    padding: 10px 0px 0px 0px;
  }

  .header-navbar ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 11px;
    margin: 0;
    padding: 10px 0px 0px 0px;
  }

  .login-form-container h1 {
    font-size: 30px;
  }

  .login-form-container p {
    font-size: 16px;
  }

  .email {
    width: 55%;
    margin: 0 auto;
    height: 40px;
    border: 2px solid #755c78;
  }

  .email::placeholder {
    font-size: 16px;
  }

  .password {
    width: 55%;
    margin: 0 auto;
    height: 40px;
    border: 2px solid #755c78;
  }

  .password::placeholder {
    font-size: 16px;
  }

  .form-button {
    width: 55%;
    margin: 0 auto;
    background-color: #755c78;
    height: 49px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
  }
}

@media (max-width: 650px) {
  .header-navbar ul {
    display: none;
    flex-direction: row;
    gap: 10px;
    font-size: 11px;
    margin: 0;
    padding: 10px 0px 0px 0px;
  }
}

@media (max-width: 600px) {
  .loginpage-top-container h2 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 10px 10px 10px 10px;
  }

  .header-logo-image {
    height: 35px;
  }

  .login-header-container {
    display: flex;
    flex-direction: row;
    margin: 20px 10px 0px 10px;
    gap: 20px;
  }

  .login-form-container {
    padding-top: 0px;
    margin-bottom: 80px;
  }

  .header-best-sellers ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 11px;
    margin: 0;
    padding: 10px 0px 0px 0px;
  }

  .header-navbar ul {
    display: none;
    flex-direction: row;
    gap: 10px;
    font-size: 11px;
    margin: 0;
    padding: 10px 0px 0px 0px;
  }

  .login-form-container h1 {
    font-size: 25px;
  }

  .login-form-container p {
    font-size: 14px;
  }

  .email {
    width: 65%;
    margin: 0 auto;
    height: 30px;
    border: 2px solid #755c78;
    text-indent: 10px;
  }

  .email::placeholder {
    font-size: 13px;
  }

  .password {
    width: 65%;
    margin: 0 auto;
    height: 30px;
    border: 2px solid #755c78;
    text-indent: 10px;
  }

  .password::placeholder {
    font-size: 13px;
  }

  .form-button {
    width: 66.5%;
    margin: 0 auto;
    background-color: #755c78;
    height: 40px;
    color: white;
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .login-form-container {
    padding-top: 40px !important;
    margin-bottom: 80px;
    margin-top: 0px;
  }

  .form-button {
    width: 66.5%;
    margin: 0 auto;
    background-color: #755c78;
    height: 40px;
    color: white;
    font-size: 16px;
    border: 1px solid #755c78;
    margin-top: 10px;
  }

  .email-password {
    gap: 20px !important;
  }
}