* {
  overflow-x: hidden;
  margin: 0;
}

.loginpagecontainer {
  background-color: #f4effa;
}

.loginpage-top-container {
  background-color: #755c78;
  height: fit-content;
}

.loginpage-top-container h2 {
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px 0px 10px 0px;
}

.header-logo-image {
  height: 50px;
}
.login-header-container {
  display: flex;
  flex-direction: row;
  margin: 20px 50px 15px 50px;
  justify-content: space-between;
}

.header-best-sellers ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 10px;
}

.header-navbar ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 10px;
}

.privay-policy-header {
  background-color: #755c78;
  height: 80px;
}

.privay-policy-header ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding-top: 30px;
  color: white;
  gap: 50px;
  font-size: 15px;
 font-family: "Manrope";
 font-style: normal;
 font-weight: 500;
}

.privacypolicy{
  font-family: "Roca";
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-size: 32px;
}
.privacy-policy-contents {
  margin: 50px 200px 20px 200px;
}
.privacy-policy-contents h1{
  font-family: "Roca";
  font-weight: 400;
  font-style: italic;
  line-height: normal;
  font-size: 32px;
}

.privacy-policies{
  margin-top: 30px;
}
.privacy-policies h1{
  margin-bottom: 7px;
  font-size: 25px;
  color: #000;
}
.privacy-policies h2{
  margin-bottom: 7px;
  font-size: 26px;
}
.privacy-policies p{
  font-family: 'Manrope', sans-serif;
  color: rgba(0, 0, 0, 0.60);
  font-size: 14px;
  font-weight: 500;
  width: 90%;

}
.seventh-container {
  padding: 0px 0px 0px 50px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.seventh-container h2 {
  font-size: 35px;
}

.group-image-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.group-image-firstcont {
  flex: 2;
}

.group-image-firstcont img {
  width: 100%;
  height: 500px;
}

.bottom-group-images {
  display: flex;
  flex: 2;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  width: 90%;
}

.bottom-group-images img {
  width: 30%;
}

.bottom-container-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bottom-container-logo {
  flex-basis: 30%;
  margin: 0px 40px 0px 100px;
}

.bottom-container-logo span {
  font-weight: bold;
  padding-right: 20px;
}

@media (max-width: 1200px) {
  .login-header-container {
    display: flex;
    flex-direction: row;
    margin: 20px 30px 15px 30px;
  }
  
  .header-best-sellers ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 10px;
    font-size: 14px;
  }
  
  .header-navbar ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 10px;
    font-size: 14px;

  }
  .privacy-policy-contents {
    margin: 50px 100px 20px 100px;
  }
  
  .privacy-policies{
    margin-top: 30px;
  }
  .privacy-policies h1{
    margin-bottom: 7px;
    font-size: 27px;

  }
  .privacy-policies h2{
    margin-bottom: 7px;
    font-size: 22px;
  }
  .group-image-firstcont img {
    width: 100%;
    height: 450px;
  }
  .bottom-group-images {
    display: flex;
    flex: 2;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
  }

  .bottom-group-images img {
    width: 30%;
  }
 
}
@media (max-width: 900px) {
  .header-logo-image{
    height: 35px;
    width: 100px;
  }
  .login-header-container {
    display: flex;
    flex-direction: row;
    margin: 20px 30px 15px 30px;
    gap: 20px;
  }
  
  .header-best-sellers ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 10px;
    font-size: 12px;
    padding: 05px 05px 0px 05px;
    margin: 0;
  }
  
  .header-navbar ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 12px;
    padding: 05px 0px 0px 0px;
    margin: 0;

  }
  .loginpage-top-container h2{
    font-size: 15px;
    margin: 0px 10px 0px 10px;
  }
  .privacy-policy-contents {
    margin: 50px 40px 20px 75px;
  }
  .privay-policy-header {
    background-color: #755c78;
    height: 80px;
  }
  
  .privay-policy-header ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    color: white;
    gap: 25px;
    font-size: 15px;
    
   
  }
  
  .privacy-policies{
    margin-top: 30px;
  }
  .privacy-policies h1{
    margin-bottom: 7px;
    font-size: 22px;
  }
  .privacy-policies h2{
    margin-bottom: 7px;
    font-size: 16px;
  }
  .group-image-firstcont img {
    width: 100%;
    height: 600px;
  }
  .bottom-group-images {
    display: flex;
    flex: 2;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
  }

  .bottom-group-images img {
    width: 45%;
  }
  
}
@media (max-width: 768px) {
  .privay-policy-header {
    background-color: #755c78;
    height: 80px;
  }
  
  .privay-policy-header ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-top: 25px;
    color: white;
    gap: 30px;
    font-size: 15px;
    
   
  }
  
}



@media (max-width: 600px) {
  
.privacypolicy{
  font-family: "Roca";
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-size: 28px;
}
  .header-logo-image{
    height: 35px;
    width: 80px;
    margin-left: 0;
    padding-left: 0;
  }
  .login-header-container {
    display: flex;
    flex-direction: row;
    margin: 20px 5px 15px 5px;
    gap: 05px;
    justify-content: space-between;
  }
  
  .header-best-sellers ul {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-top: 10px;
    font-size: 11px;
    padding: 05px 0px 0px 0px;
    margin: 0;
  }
  
  .header-navbar ul {
    display: none;
    flex-direction: row;
    gap: 15px;
    font-size: 12px;
    padding: 05px 0px 0px 0px;
    margin: 0;

  }
  .loginpage-top-container h2{
    font-size: 13px;
    margin: 0px 10px 0px 10px;
  }
  .group-image-container {
    display: flex;
    flex-direction: column;
  }
  .group-image-firstcont img {
    width: 95%;
    height: 450px;
  }
  .bottom-group-images {
    display: flex;
    flex: 2;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
  }

  .bottom-group-images img {
    width: 30%;
  }
  .subscribe {
    top: 37%;
    left: 60%;
  }
  .bottom-container-contact input {
    width: 65%;
    height: 40px;
  }
  .bottom-container-contact h2 {
    font-size: 20px;
  }
  .purple-potato {
    margin: 0px 50px 0px 50px;
  }
  .exclusive-text {
    padding-top: 0;
    margin: 15px 0px 0px 0px;
  }
}

@media (max-width: 468px) {
  .privay-policy-header {
    background-color: #755c78;
    height: 80px;
  }
  
.privacypolicy{
  font-family: "Roca";
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  font-size: 24px;
}
  
  .privay-policy-header ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    color: white;
    gap: 10px;
    font-size: 13px;
    
    padding: 20px 0px 0px 0px;
    
   
  }
  .bottom-container-third {
    display: flex;
    flex-direction: column;
    gap: 10px !important;
  }
  .bottom-cont-pages {
    gap: 20px;
    font-size: 14px;
    margin: 05px auto;
  }
  .privacy-policy-contents {
    margin: 50px 10px 20px 30px;
  }
  
  .privacy-policies{
    margin-top: 30px;
  }
  .privacy-policies p{
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
  }
  .privacy-policies h1{
    margin-bottom: 7px;
    font-size: 18px;
  }
  .bottom-container-social{
    gap: 30px;
  }
  .seventh-container{
    padding: 0px 0px 0px 20px;
  }
  .privay-policy-header ul{
    font-size: 12px;
    
  }
  .privay-policy-header li{
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 400px) {
  .group-image-container {
    display: flex;
    flex-direction: column;
  }
  .group-image-firstcont img {
    width: 95%;
    height: 450px;
  }
  .bottom-group-images {
    display: flex;
    flex: 2;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    width: 100%;
  }

  .bottom-group-images img {
    width: 45%;
  }
  /* .bottom-container-social {
    padding: 50px 20px 0px 40px;
  }
  .purple-potato {
    margin: 0px 30px 0px 30px;
  }
  .bottom-container-contact h2 {
    font-size: 17px;
  } */
  .header-logo-image{
    min-width: 120px;
    z-index: 1;
  }
  .header-best-sellers{
    justify-content: flex-end !important;
    align-items: end;
    text-align: end;
  }
  .privacy-policies p{
    font-family: 'Manrope', sans-serif;
    color: rgba(0, 0, 0, 0.60);
    font-size: 14px;
    font-weight: 500;
    width: 95%;
  
  }
}
