.also-like-container {
  padding: 100px 50px 0px 50px;
  margin-bottom: 70px;
}

.also-like-container h1 {
  text-align: center;
}

.dummy-text-container {
  margin: 50px 0px 0px 0px;
  background-color: #755c78;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: white;
  padding: 10px 0px 8px 0px;
  font-size: 20px;
}
.dummy-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.dummy-section img {
  height: 20px;
}
.hompage-dresses {
  margin: 30px 0px 0px 80px;
}

.dummy-text span {
  color: rgb(255, 255, 255);
  padding-top: 0px;
  padding-bottom: 10px;
  font-size: 23px;
}
.marquee-content span{
  padding: 0px 15px 0px 15px;
}

.single-product-container {
  padding: 50px 80px 0px 80px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.product-image-container {
  flex: 1;
}
.product-description-container {
  flex: 1;
}
.product-img {
  width: 100%;
  height: 650px;
  /* height: 600px;
  width:80%; */
}

.product-group-image {
  margin: 10px 0px 0px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.product-group-image img {
  width: 24%;
  /* flex: 1 0 300px; */
}

.descriptions {
  margin-top: 0px;
  padding: 0px 50px 0px 50px;
}
.rupee {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 18px;
}
.cost {
  text-decoration: line-through;
  font-size: 20px;
}

.money {
  color: #eb001b;
  font-size: 20px;
}
.red-circle-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.red-circle {
  background-color: #eb001b;
  height: 20px;
  border-radius: 50%;
  width: 20px;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.popup-text{
  margin-top: 50px;
  font-size: 18px;
}

.popup-content {
  background-color: #fff;
  width: 300px;
  height: 200px;
  max-width: 90%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.size-guide {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
.size-guide-text {
  border-bottom: 2px solid black;
}
.size-number {
  margin-top: 5px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.fabric-material {
  margin-top: 10px;
  font-size: 15px;
  margin-bottom: 20px;
}
.color-red {
  margin-top: 20px;
  margin-bottom: 20px;
}

.shop-buttons {
  display: flex;
  margin-bottom: 70px;
  margin-top: 50px;
  justify-content: space-between;
  width: 85%;
}
.size-button {
  width: 40%;
  height: 40px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: center;
  justify-content: center;
}
.subtract {
  font-size: 22px;
}
.addition {
  font-size: 22px;
}

.add-to-bag {
  width: 45%;
  height: 40px;
  background-color: #755c78;
  color: white;
}
.accordion {
  max-width: 600px;
  margin-right: 50px;
  /* margin: 0 auto; */
}

.accordion-item {
  border-radius: 5px;
  margin-bottom: 10px;
}

.accordion-item .accordion-header {
  padding: 10px 10px 0px 0px;
  cursor: pointer;
  font-size: 25px;
}
.accordion-item .accordion-header::after {
  content: "\002B";
  float: right;
  margin-left: 5px;
  font-size: 30px;

}

.accordion-item.active .accordion-header::after {
  content: "\2212";
  font-size: 30px;
}

.accordion-item .accordion-content {
  padding: 0px 10px 10px 0px;
  display: none;
}

.accordion-item.active .accordion-content {
  display: block;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.marquee-content {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 30s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.product-details-fit {
  width: 85%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.horizontal-line {
  width: 100%;
  border: none; /* Remove the default border */
  border-top: 2px solid #000; /* Set the desired border color and thickness */
  margin: 0px 0px 20px 0px; /* Adjust the margin as needed */
}

.dress-images-continaer {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 50px;
  width: 100%;
  flex-wrap: wrap;
}
.inner-box2-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: fit-content;
  max-width: 30%;
  flex: 1 0 300px;
}
.inner-box2-section img {
  height: 380px;
  width: 100%;
}
.inner-box2-section h3 {
  margin: 0;
}

.inner-box2-section h4 {
  margin: 0;
}

.inner-box2-section button {
  margin-top: 10px;
  background-color: #755c78;
  font-size: 12px;
  color: white;
  height: 40px;
}

@media (max-width: 1200px) {
  .accordion {
    max-width: 600px;
    margin: 0 auto;
  }

  .accordion-item {
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .accordion-item .accordion-header {
    padding: 0px 10px 0px 0px;
    cursor: pointer;
    font-size: 20px;
  }
  .accordion-item .accordion-header::after {
    content: "\002B";
    float: right;
    margin-left: 5px;
    font-size: 25px;

  }

  .accordion-item.active .accordion-header::after {
    content: "\2212";
    font-size: 25px;
  }

  .accordion-item .accordion-content {
    padding: 0px 10px 10px 0px;
    display: none;
  }

  .accordion-item.active .accordion-content {
    display: block;
  }
  .product-details-fit{
    font-size: 17px;
    padding-top: 0px;
    margin-top: 10px;
    margin-right: 0px;
    padding-right: 0px;
  }
  .single-product-container {
    padding: 50px 40px 0px 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .product-img {
    height: 500px;
  }
  .dummy-text-container {
    margin: 50px 0px 0px 0px;
    background-color: #755c78;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: white;
    padding: 10px 0px 8px 10px;
    font-size: 17px;
  }
  .dummy-section {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .dummy-section img {
    height: 18px;
  }
  .hompage-dresses {
    margin: 30px 0px 0px 40px;
  }
  .descriptions {
    padding: 0px 0px 0px 35px;
  }
  .descriptions h1 {
    font-size: 21px;
  }
  .shop-buttons {
    gap: 30px;
    margin-bottom: 50px;
  }
  .size-button {
    width: 50%;
    height: 40px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 35px;
    align-items: center;
    justify-content: center;
  }
  .add-to-bag {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .single-product-container {
    padding: 50px 40px 0px 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .product-img {
    height: 450px;
  }
  .dummy-text-container {
    margin: 50px 0px 0px 0px;
    background-color: #755c78;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
    padding: 10px 0px 8px 10px;
    font-size: 12px;
  }
  .dummy-section {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .dummy-section img {
    height: 15px;
  }
  .hompage-dresses {
    font-size: 20px;
    margin: 30px 0px 0px 40px;
  }
  .descriptions {
    padding: 0px 0px 0px 35px;
    gap: 0px;
  }
  .descriptions h1 {
    font-size: 19px;
  }
  .product-group-image {
    flex-wrap: wrap;
    /* flex: 1 0 300px; */
  }
  .product-group-image img {
    max-width: 48%;
    height: 150px;
    flex: 1 0 250px;
  }
  .shop-buttons {
    margin-top: 0px;
    gap: 20px;
    margin-bottom: 30px;
  }
  .size-button {
    width: 55%;
    height: 40px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .subtract {
    font-size: 18px;
  }
  .addition {
    font-size: 18px;
  }
  .add-to-bag {
    width: 60%;
    font-size: 12px;
  }
  .horizontal-line {
    width: 100%;
    border: none; /* Remove the default border */
    border-top: 2px solid #000; /* Set the desired border color and thickness */
    margin: 02px 0; /* Adjust the margin as needed */
  }
  .product-details-fit {
    margin-top: 15px;
    font-size: 15px;
  }
  .inner-box2-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    max-width: 48%;
    flex: 1 0 230px;
  }
}

@media (max-width: 600px) {
  .single-product-container {
    padding: 50px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .descriptions {
    padding: 0px 0px 0px 0px;
    gap: 0px;
  }
  .dummy-text-container {
    margin: 50px 0px 0px 0px;
    background-color: #755c78;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 6px;
    color: white;
    padding: 10px 0px 8px 0px;
    font-size: 10px;
  }
  .dummy-section {
    display: flex;
    flex-direction: row;
    gap: 3px;
    width: 90%;
  }
  .dummy-section img {
    height: 13px;
  }
  .hompage-dresses {
    font-size: 17px;
    margin: 30px 0px 0px 30px;
  }
  .descriptions h1 {
    font-size: 19px;
  }
  .product-image-container {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-bottom: 50px;
  }
  .product-group-image {
    flex-basis: 60%;
    margin-top: 0px;
    flex-direction: row;
    gap: 5px;
    display: flex;
    flex-direction: row;

   
  }
  .product-img {
    flex-basis: 35%;
      width: 90%;
      flex-basis: 40%;
      height: 310px;
   
  }
  .product-group-image img {
   
    max-width: 47.4%;
  }
  .shop-buttons {
    margin-top: 0px;
    gap: 20px;
    margin-bottom: 30px;
  }
  .size-button {
    width: 55%;
    height: 40px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  .popup-text{
    margin-top: 50px;
    font-size: 18px;
  }

  .popup-content {
    background-color: #fff;
    width:60%;
    height: 180px;
    max-width: 90%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .subtract {
    font-size: 18px;
  }
  .addition {
    font-size: 18px;
  }
  .add-to-bag {
    width: 60%;
    font-size: 12px;
  }
  .horizontal-line {
    width: 100%;
    border: none; /* Remove the default border */
    border-top: 2px solid #000; /* Set the desired border color and thickness */
    margin: 02px 0; /* Adjust the margin as needed */
  }
  .product-details-fit {
    margin-top: 15px;
    font-size: 15px;
  }
  .inner-box2-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    max-width: 48%;
    flex: 1 0 160px;
  }
  .also-like-container{
    padding: 100px 30px 0px 30px;
  }
  .inner-box2-section img{
    height: 280px;
  }
 
}

@media (max-width:468px) {
  .inner-box2-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    max-width: 95%;
    flex: 1 0 200px;
    margin: 0 auto;

  }
  .also-like-container h1{
    font-size: 24px;
  }

  
}
